// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #0da6f3;
$azul2: #78a5ff;
$rojo: #cb0000;
$rojo2: #fe5544;
$rojo3: #e06667;
$verde:#329f00;
$verde2: #a5dc86;
$negro: #1a1b15;
$negro-azulado: #151519;
$amarillo: #E69F59;
$amarillo2: #e3bf43;
$amarillo3: #e0c766;
$cafe: #69443A;
$azul-oscuro: #4b6b9c;
$morado: #7066e0;
$morado2: #3a4069;

$blanco: #FFFFFF;
$gris: #f1f1f1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900